:root{
    --bg:#ffffff;
    --text:#111;
    --card:#f2f2f2;
}

/* Dark theme */
.dark{
    --bg:#121212;
    --text:#eeeeee;
    --card:#1f1f1f;
}

body{
    background:var(--bg);
    color:var(--text);
    transition:background 0.4s ease, color 0.4s ease;
    font-family:Segoe UI;
    text-align:center;
    padding-top:100px;
}

.container{
    background:var(--card);
    padding:40px;
    border-radius:12px;
    width:300px;
    margin:auto;
    transition:0.4s;
}

#toggleBtn{
    position:fixed;
    top:20px;
    right:20px;
    border:none;
    font-size:24px;
    padding:10px 14px;
    border-radius:50%;
    cursor:pointer;
}
/* Make layout flexible */
.container{
    max-width:90%;
    width:400px;
}

/* Tablet */
@media (max-width:768px){
    body{
        padding-top:70px;
    }

    .container{
        width:90%;
        padding:30px 20px;
    }

    h1{
        font-size:26px;
    }

    p{
        font-size:16px;
    }

    #toggleBtn{
        font-size:20px;
        padding:8px 11px;
    }
}

/* Mobile */
@media (max-width:480px){
    h1{
        font-size:22px;
    }

    p{
        font-size:14px;
    }

    .container{
        padding:25px 15px;
    }

    #toggleBtn{
        top:15px;
        right:15px;
        font-size:18px;
    }
}

/* Small mobile */
@media (max-width:320px){
    h1{
        font-size:18px;
    }

    p{
        font-size:13px;
    }
}